* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(images/backgroundpic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Righteous", serif;
}
/* nav bar */
nav {
    background-color: pink;
}  

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 40px;
    width: 180px;
}

nav a {
    height: 100%;
    padding: 0 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgba(8, 40, 146, 0.42);
}

nav a:hover {
    background-color: aliceblue;
}

nav li:last-child {
    margin-left: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 192, 203, 0.708);
    backdrop-filter: blur(5px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}

/* lang side menu */
#lang {
    display: flex;
    justify-content: flex-end;
}


/* lang menu */
.lang-menu {
    position: fixed;
    top: 40px;
    right: 0;
    height: 150px;
    width: 140px;
    z-index: 999;
    background-color: rgba(255, 192, 203, 0.708);
    backdrop-filter: blur(5px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.lang-menu li {
    width: 100%;
}
.lang-menu a {
    width: 100%;
}

.langs {
    height: 100%;
    padding: 0 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgba(8, 40, 146, 0);
}

/* main */
.main {
    margin: 250px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5%;
    box-sizing: border-box;
}
.main-left {
    flex-grow: 1;
}
.title {
    color: antiquewhite;
    font-size: 4rem;
}

.caption {
    color: antiquewhite;
    font-size: 1.5rem;
}

.projects__title, .contacts__title {
    margin: 20px 0;
    font-size: 1.5rem;
}

/* projects */
.projects {
display: flex;
justify-content: center ;
font-size: 1.5rem;
border: 100px;
margin: 30px 50px;
}

.projects__title {
    display: flex;
    justify-content: left ;
    margin: 0px 50px;
    color: antiquewhite;
    }

.projects__a  {
        -webkit-box-shadow: 3px 5px 15px 2px rgba(0,0,0,0.67); 
        box-shadow: 3px 5px 15px 2px rgba(0,0,0,0.67);
        }
.projects__a {
    background-color: pink;
    display: block;
    margin: 20px auto 0;
    width: 300px;
    height: 400px;
    color: #1e2f69dd;
    padding: 10px;
    border-radius: 10px;
   }
img {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
    height: 250px;
    border: none;
    border-radius: 10px;
}

img:hover {
    border: 5px solid   rgb(8, 40, 146, 0.42);
}

.projects__a__tilte {
    font-size: 2.4rem;
}

.projects__a__description {
    inset: 0;
    padding: 3px;
    font-size: 1.1rem;
}
.projects__b__tilte {
    font-size: 2.4rem;
}

.projects__b__description {
    inset: 0;
    padding-top: 0;
    padding-bottom: 3px;
    font-size: 1.1rem;
}
.projects__c__tilte {
    font-size: 2.4rem;
}

.projects__c__description {
    inset: 0;
    padding: 3px;
    font-size: 1.2rem;
}
.projects__b {
    -webkit-box-shadow: 3px 5px 15px 2px rgba(0,0,0,0.67); 
    box-shadow: 3px 5px 15px 2px rgba(0,0,0,0.67);
    }
.projects__b {
        background-color: pink;
        color: #1e2f69dd;
        display: block;
        margin: 20px 50px;
        width: 300px;
        height: 400px;
        padding: 10px;
        border-radius: 10px;
       }
.projects__c {
        -webkit-box-shadow: 3px 5px 15px 2px rgba(0,0,0,0.67); 
        box-shadow: 3px 5px 15px 2px rgba(0,0,0,0.67);
        }
.projects__c {
            background-color: pink;
            color: #1e2f69dd;
            display: block;
            margin: 20px auto 0;
            width: 300px;
            height: 400px;
            padding: 10px;
            border-radius: 10px;    
           }
/* contacts */
.contacts__title {
    display: flex;
    justify-content: left ;
    margin: 0px 50px;
    color: antiquewhite;
    }
.contacts {
            display: flex;
            justify-content: center ;
            margin: 20px 20px;
            color: antiquewhite;
            }
        .contacts__box {
                -webkit-box-shadow: 3px 5px 15px 2px rgba(0,0,0,0.67); 
                box-shadow: 3px 5px 15px 2px rgba(0,0,0,0.67);
                }
        .contacts__box {
                    background-color: pink;
                    display: block;
                    margin: 20px auto 0;
                    width: 800px;
                    height: 400px;
                    color: #1e2f69dd;
                    padding: 10px;
                    border-radius: 10px;
                   }
        .menu-botton {
            display: none;
        }
 

        @media(max-width: 900px){
          
            .projects {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                border: 100px;
                margin: 30px 50px;
                }
        }

@media(max-width: 800px){
          
            .title {
                font-size: 6vw;
            }
            .caption {
                font-size: 2.5vw;
            }
        }

@media(max-width: 700px){
          
            .title {
                font-size: 7vw;
            }
            .caption {
                font-size: 3vw;
            }
        }
 
@media(max-width: 600px){
                    .hideOnMobile{
                        display: none;
                    }
                    .menu-botton{
                        display: block;
                    }
                    .title {
                        font-size: 10vw;
                    }
                    .caption {
                        font-size: 4vw;
                    }
                }
                
@media(max-width: 500px){
    .sidebar{
        width: 100%;}
    .title {
            font-size: 10vw;
        }
    .caption {
            font-size: 4vw;
    }
    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        border: 50px;
        margin: 30px 10px;
        }
    .projects__c.projects__b.projects__a {
        width: 250px;
    }
}
/* animation */
@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.projects, .contacts, .projects__title {
animation: appear linear;
animation-timeline: view();
animation-range: entry 0% cover 40%;
}

