* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(images/backgroundpic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Righteous", serif;
}

nav {
    background-color: pink;
    box-shadow: 2px 2px 4px #bc05cdc6;
}  

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 40px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgba(8, 40, 146, 0.42);
}

nav a:hover {
    background-color: aliceblue;
}